.markdown-body {
  width: "100%" !important;
  background-color: transparent !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  blockquote,
  pre,
  code,
  table,
  tr,
  th,
  td {
    cursor: text !important;
  }
}
