<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="current_preset" value="1"/>
		<add key="account_list" value=""/>
		<add key="current_comboBox_index_preset_1" value="0;0;0"/>
		<add key="current_comboBox_index_preset_2" value="0;0;0"/>
		<add key="current_comboBox_index_preset_3" value="0;0;0"/>
		<add key="current_comboBox_index_preset_4" value="0;0;0"/>
		<add key="is_test_server" value="False"/>
		<add key="client_path_1" value=""/>
		<add key="client_path_2" value=""/>
		<add key="client_path_3" value=""/>
		<add key="client_path_test_1" value=""/>
		<add key="client_path_test_2" value=""/>
		<add key="client_path_test_3" value=""/>
		<add key="shortcut_name" value="거상홈페이지;홈페이지2;홈페이지3;홈페이지4;"/>
		<add key="shortcut_1" value="https://www.gersang.co.kr/main/index.gs"/>
		<add key="shortcut_2" value=""/>
		<add key="shortcut_3" value=""/>
		<add key="shortcut_4" value=""/>
		<add key="directory_name_client_2" value="Gersang2"/>
		<add key="directory_name_client_3" value="Gersang3"/>
		<add key="directory_name_client_test_2" value="GerTest2"/>
		<add key="directory_name_client_test_3" value="GerTest3"/>
		<add key="is_auto_update" value="True"/>
		<add key="use_bat_creator" value="False"/>
		<add key="prev_announcement" value=""/>
	</appSettings>
</configuration>